header {
  background-color: #2c3a4e;
  margin: 0;
  padding: 0;
}

a {text-decoration: none; }

nav {
background-color: #2c3a4e;
}

.container {
  display: flex;
}

.container.space-between {
  justify-content: space-between;
  gap: 10px;
}

.container.space-evenly {
justify-content: space-evenly;
}

.container.horizontal {
 flex-direction: row;
}

body {
  background: #88adf1;
  background:            url('amphipod.png'),  url('dragonfish.png'),  url('Squid.png'),  url('CombJelly.png'), url('Particles2.png'), linear-gradient(180deg,rgba(136, 173, 241, 1) 0%, rgba(0, 29, 35, 1) 84%);
  background-repeat:     no-repeat,            no-repeat,              no-repeat,         no-repeat,            repeat,                no-repeat;
  background-attachment: scroll,               scroll,                 scroll,            scroll,               scroll,                scroll;
  background-blend-mode: normal,               normal,                 normal,            normal,               normal,                normal;
  background-position:   80% 20%,              80% 80%,                0% 90%,            10% 20%,              center,                center;
  background-size:       150px 100px,          400px 200px,            300px 200px,       200px 300px,          auto,                  auto; 
  transform:             initial,              initial,                initial,           rotate(45deg),        initial,               initial;
  color: white;
  margin: 0;
  padding: 0;
}

h1 {
  color: white; 
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  color: white; 
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  color: #ef9f32; 
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
}


h4 {
  color: white; 
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 20px;
}

p {
  font-family: Verdana, Tahoma, sans-serif;
}

footer {
  background-color: #2c3a4e;
  display: flex;
  flex-direction: row;
}
  
