header {
  background-color: #2c3a4e;
}

nav {
background-color: #2c3a4e;
}

body {
  background: #88adf1;
background: linear-gradient(180deg,rgba(136, 173, 241, 1) 0%, rgba(0, 29, 35, 1) 84%);
  color: white;
}

h1 {
  color: white; 
  font-family: Verdana, Tahoma, sans-serif; 
  font-size: 60px;
  font-weight: bold;
}

h2 {
  color: white; 
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 15px;
}

h3 {
  font-size: 40px;
}

p {
  font-family: Verdana, Tahoma, sans-serif;
}
  
